@charset "UTF-8";
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  outline: none !important;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Stolzl', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
  display: inline-block;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background-color: #fff;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1670px;
  padding: 0 15px;
  margin: 0 auto;
}

.link {
  position: relative;
}

.link::after {
  position: absolute;
  display: block;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  -webkit-transition: .3s width;
  transition: .3s width;
}

.link:hover::after {
  width: 0;
}

.link_reverse::after {
  width: 0;
}

.link_reverse:hover::after {
  width: 100%;
}

.link_right::after {
  left: auto;
  right: 0;
}

.empty {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  height: 0 !important;
  border: none !important;
  min-height: 0 !important;
  pointer-events: none;
}

.empty::after {
  display: none !important;
}

.empty::before {
  display: none !important;
}

textarea, input {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  border: none;
  font-family: 'Stolzl', sans-serif;
  font-weight: 400;
  color: #000000;
}

.btn {
  font-weight: 500;
  text-transform: uppercase;
  color: #0066FF;
  padding: 20px 40px;
  border: 2px solid #0066FF;
  -webkit-transition: .3s border-color, .3s color;
  transition: .3s border-color, .3s color;
}

.btn:hover {
  color: #000;
  border-color: #FFF500;
}

.btn_filled {
  color: #fff;
  border: none;
  padding: 22px 70px;
  background-color: #0066FF;
  -webkit-transition: .3s background-color, .3s color;
  transition: .3s background-color, .3s color;
}

.btn_filled:hover {
  color: #000;
  background-color: #FFF500;
}

.btn_white {
  color: #000;
  padding: 20px 45px;
  background-color: #fff;
  border: none;
  -webkit-transition: .3s background-color;
  transition: .3s background-color;
}

.btn_white:hover {
  background-color: #FFF500;
}

.arrow {
  position: relative;
}

.arrow-circle {
  position: absolute;
  width: 125px;
  height: 125px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.arrow-circle__empty {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 100%;
  top: 0;
  left: 0;
  -webkit-transition: .3s transform;
  transition: .3s transform;
}

.arrow-circle__filled {
  width: 80%;
  height: 80%;
  background-color: #fff;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .3s transform;
  transition: .3s transform;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.arrow-text {
  color: #fff;
  font-weight: 500;
  font-size: 30px;
  margin-left: 60px;
  -webkit-transition: .3s margin-left;
  transition: .3s margin-left;
}

.arrow:hover .arrow-circle__empty {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.arrow:hover .arrow-circle__filled {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.arrow:hover .arrow-text {
  margin-left: 130px;
}

ul {
  list-style: none;
}

ul li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}

ul li::after {
  position: absolute;
  content: '◌';
  color: #FFF500;
  display: block;
  top: -4px;
  left: 0;
  font-size: 24px;
}

.input {
  border-bottom: 4px solid #000;
  padding: 0;
  padding-bottom: 40px;
  padding-right: 10px;
  font-size: 30px;
  color: #000000;
}

.input::-webkit-input-placeholder {
  font-family: 'Stolzl', sans-serif;
  font-size: 30px;
  color: #000000;
}

.input:-moz-placeholder {
  font-family: 'Stolzl', sans-serif;
  font-size: 30px;
  color: #000000;
}

.submit {
  width: 240px;
  height: 240px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 100%;
  padding: 45px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
}

.submit-text {
  position: relative;
  z-index: 2;
  -webkit-transition: .3s transform ease-out;
  transition: .3s transform ease-out;
}

.submit::after, .submit::before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transition: .3s transform ease-out;
  transition: .3s transform ease-out;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 100%;
}

.submit::after {
  background-color: #FFF500;
  z-index: 0;
}

.submit::before {
  background-color: #0066FF;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.submit:hover .submit-text {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.submit:hover::after {
  -webkit-transform: translate(-50%, -50%) scale(0.75);
          transform: translate(-50%, -50%) scale(0.75);
}

.submit:hover::before {
  -webkit-transform: translate(-50%, -50%) scale(0.85);
          transform: translate(-50%, -50%) scale(0.85);
}

.submit input {
  display: none;
}

.section-title {
  font-weight: 500;
  font-size: 70px;
  color: #fff;
  line-height: 115%;
}

.section-title_black {
  color: #000;
}

.section-subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 130%;
  color: #fff;
}

.section-subtitle_black {
  color: #000;
}

.header {
  padding: 30px 0;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo__img {
  margin-right: 45px;
}

.header-logo__text {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  max-width: 190px;
}

.header-btn:first-child {
  margin-right: 90px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #000;
  color: #fff;
  background-image: url(../img/hero/bg.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  position: relative;
}

.hero-main {
  width: 71%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
}

.hero-main__inner {
  display: block;
  width: 100%;
  opacity: 0;
  visibility: hidden;
}

.hero-video {
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 65%;
}

.hero-video__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  border-radius: 100%;
  opacity: 0.4;
}

.hero-video__inner {
  display: block;
  width: 100%;
  opacity: 0;
  visibility: hidden;
}

.hero-video__main {
  position: absolute;
  top: 50%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  width: 16.6%;
}

.hero-video__arrow {
  fill: #0066FF;
  cursor: pointer;
  -webkit-transition: .3s fill;
  transition: .3s fill;
  width: 100%;
}

.hero-video__arrow:hover {
  fill: #FFF500;
}

.hero-video__text {
  position: absolute;
  left: 0;
  bottom: -65%;
  width: 200px;
  line-height: 150%;
  text-transform: uppercase;
}

.hero-list {
  width: 29%;
}

.hero-item {
  background-color: #000;
  position: relative;
}

.hero-item__inner {
  width: 100%;
  display: block;
  opacity: 0;
  visibility: hidden;
}

.hero-item:first-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.hero-item:hover .hero-item__img {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.hero-item__main {
  padding: 60px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hero-item__img {
  margin-bottom: 35px;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-transition: .3s transform;
  transition: .3s transform;
}

.hero-item__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 130%;
  text-transform: uppercase;
  max-width: 350px;
}

.hero-item__subtitle {
  margin-top: 25px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 150%;
  color: #8F8F8F;
  max-width: 360px;
}

.hero-item__top {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  z-index: 1;
}

.hero-item__btn {
  position: relative;
  z-index: 1;
}

.hero-item_special {
  position: relative;
}

.hero-item_special::before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0066FF;
  z-index: 0;
  border-radius: 0;
  -webkit-transition: .3s border-radius linear;
  transition: .3s border-radius linear;
}

.hero-item_special .hero-item__subtitle {
  color: #fff;
  margin-top: 15px;
}

.hero-item_special__img {
  position: absolute;
  left: 65px;
  bottom: 0;
}

.hero-item_special:hover::before {
  border-radius: 100%;
}

.hero-text {
  position: absolute;
  left: calc((100% - 1640px) / 2);
  top: 140px;
  z-index: 1;
}

.hero-text__title {
  max-width: 950px;
  margin-bottom: 70px;
}

.hero-text__title span {
  font-weight: 400;
  display: block;
}

.hero-text__subtitle {
  max-width: 505px;
  font-size: 40px;
  line-height: 125%;
  font-weight: 400;
}

.results {
  background-color: #000;
  padding: 200px 0;
  color: #fff;
}

.results-title {
  margin-bottom: 140px;
}

.results-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% + 90px);
  margin-left: -45px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.results-item {
  margin: 0 45px 90px 45px;
  -ms-flex-preferred-size: 430px;
      flex-basis: 430px;
  position: relative;
}

.results-item::after {
  position: absolute;
  content: '';
  display: block;
  right: -87.5px;
  top: 0;
  width: 1px;
  height: 114px;
  background-color: #fff;
}

.results-item:last-child::after {
  display: none;
}

.results-item__title {
  font-size: 48px;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 30px;
}

.results-item__title span {
  color: #0066FF;
}

.results-item__text {
  font-weight: 500;
  text-transform: uppercase;
}

.results-warranty__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 125%;
  margin-bottom: 40px;
}

.results-warranty__title span {
  display: block;
  color: #FFF500;
}

.results-warranty__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.results-warranty__text {
  font-weight: 500;
  text-transform: uppercase;
}

.results-warranty__img {
  margin-right: 35px;
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.advantages {
  padding-top: 170px;
  padding-bottom: 30px;
}

.advantages-title {
  max-width: 1350px;
  margin-bottom: 45px;
}

.advantages-subtitle {
  max-width: 1200px;
  margin-bottom: 130px;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(100% + 200px);
  margin-left: -100px;
}

.advantages-item {
  margin: 0 100px 140px 100px;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}

.advantages-item__number, .advantages-item__title, .advantages-item__text {
  position: relative;
  z-index: 1;
  -webkit-transition: .3s color;
  transition: .3s color;
}

.advantages-item__number {
  color: #0066FF;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}

.advantages-item__title {
  font-size: 40px;
  line-height: 125%;
  font-weight: 500;
  margin-bottom: 30px;
}

.advantages-item__text {
  line-height: 150%;
}

.advantages-item__dec {
  position: absolute;
  width: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 100%;
  z-index: 0;
  -webkit-transition: .3s width;
  transition: .3s width;
}

.advantages-item__dec::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 102, 255, 0.8);
  border-radius: 100%;
}

.advantages-item__dec-inner {
  display: block;
  width: 100%;
  opacity: 0;
  visibility: hidden;
}

.advantages-item:hover .advantages-item__dec {
  width: 140%;
}

.advantages-item:hover .advantages-item__number, .advantages-item:hover .advantages-item__title, .advantages-item:hover .advantages-item__text {
  color: #fff;
}

.strategy {
  background-color: #FFF500;
  padding: 30px 0;
}

.strategy-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.strategy-title {
  max-width: 900px;
  font-size: 40px;
  font-weight: 500;
  line-height: 125%;
}

.strategy-number {
  position: relative;
  margin-right: 140px;
}

.strategy-number__number {
  color: #fff;
  font-weight: 700;
  line-height: 70%;
  font-size: 450px;
}

.strategy-number__text {
  font-size: 80px;
  font-weight: 700;
  line-height: 90%;
  text-transform: uppercase;
  position: absolute;
  bottom: 20px;
  right: 0;
  text-align: right;
}

.strategy-number__text span:last-child {
  margin-right: -75px;
}

.begin {
  background-color: #000;
  padding: 200px 0;
  color: #fff;
}

.begin-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.begin-text {
  margin-top: 40px;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.begin-title {
  margin-bottom: 100px;
}

.begin-number {
  font-weight: 500;
  font-size: 100px;
  color: #FFF500;
  line-height: 70%;
  margin-bottom: 25px;
}

.begin-subtitle {
  font-size: 40px;
  font-weight: 500;
  max-width: 600px;
  margin-bottom: 90px;
}

.begin-list {
  margin-bottom: 75px;
}

.begin-list__title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.begin-img {
  position: relative;
  display: inline-block;
}

.begin-img__img {
  position: relative;
  z-index: 1;
}

.begin-img__circle {
  position: absolute;
  width: 630px;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  right: -300px;
  bottom: -200px;
}

.begin-img__circle-inner {
  display: block;
  width: 100%;
  opacity: 0;
  visibility: hidden;
}

.begin-img__text {
  position: absolute;
  font-size: 40px;
  font-weight: 500;
  line-height: 120%;
  max-width: 350px;
  right: -270px;
  bottom: -85px;
  z-index: 2;
}

.begin-img__wrapper {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.team {
  background-color: #000;
  padding-bottom: 220px;
}

.team-title, .team-subtitle {
  text-align: center;
}

.team-title {
  margin-bottom: 35px;
}

.team-subtitle {
  max-width: 850px;
  margin: 0 auto;
  margin-bottom: 110px;
}

.team-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 60px;
}

.team-item {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 100%;
  grid-column: span 4;
}

.team-item__inner {
  width: 100%;
  display: block;
  opacity: 0;
  visibility: hidden;
}

.team-item:nth-child(n + 4) {
  grid-column: span 3;
  grid-gap: 40px;
}

.app {
  padding-top: 175px;
}

.app-title {
  margin-bottom: 40px;
  max-width: 1300px;
}

.app-subtitle {
  margin-bottom: 180px;
  max-width: 1300px;
}

.app-img {
  width: 100%;
}

.app-form {
  margin-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-form__input {
  width: 500px;
  margin-right: 50px;
}

.app-form__submit {
  margin-left: 50px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #000;
  color: #fff;
}

.footer-main, .footer-map {
  width: 50%;
}

.footer-main {
  padding-top: 180px;
  padding-bottom: 100px;
  padding-left: calc((100% - 1640px) / 2);
  padding-right: 120px;
}

.footer-title {
  margin-bottom: 90px;
}

.footer-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 85px;
}

.footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-contacts {
  max-width: 400px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer-item {
  margin-bottom: 40px;
}

.footer-item__title {
  color: #0066FF;
  margin-bottom: 25px;
  font-size: 18px;
}

.footer-item__text {
  color: #fff;
}

.footer-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-btn {
  width: 175px;
  height: 175px;
  border: 2px solid #fff;
  background-color: #000;
  border-radius: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px;
  position: relative;
  font-weight: 500;
  -webkit-transition: .3s z-index, .3s background-color, .3s border-color, .3s color;
  transition: .3s z-index, .3s background-color, .3s border-color, .3s color;
}

.footer-btn:nth-child(n + 2) {
  margin-top: -20px;
}

.footer-btn:nth-child(1) {
  z-index: 0;
}

.footer-btn:nth-child(2) {
  z-index: 1;
}

.footer-btn:nth-child(3) {
  z-index: 2;
}

.footer-btn:hover {
  z-index: 3;
  background-color: #FFF500;
  border-color: #FFF500;
  color: #000;
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-socials__item {
  margin-right: 75px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-socials__item::after {
  position: absolute;
  display: block;
  content: '';
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  background-color: #000;
  border-radius: 100%;
  -webkit-transition: .3s background-color;
  transition: .3s background-color;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer-socials__item svg {
  fill: #fff;
  -webkit-transition: .3s fill;
  transition: .3s fill;
  position: relative;
  z-index: 1;
}

.footer-socials__item:last-child {
  margin-right: 0;
}

.footer-socials__item:hover::after {
  background-color: #fff;
}

.footer-socials__item:hover svg {
  fill: #000;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-bottom__item {
  color: #fff;
  font-size: 12px;
}

.footer-map [class$="ground-pane"], .footer-map [class$="copyrights-pane"] {
  -webkit-filter: invert(1) grayscale(100%);
          filter: invert(1) grayscale(100%);
}

.alertify-notifier .ajs-message.ajs-warning {
  background: white;
  -webkit-box-shadow: 0 0 3px #333333;
  box-shadow: 0 0 3px #333333;
}

.alertify-notifier .ajs-message.ajs-success {
  color: #fff;
  background: rgba(40, 136, 62, 0.9);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.alertify-notifier {
  z-index: 99998;
}
/*# sourceMappingURL=style.css.map */