*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  outline: none !important;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Stolzl', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
  display: inline-block;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background-color: #fff;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1670px;
  padding: 0 15px;
  margin: 0 auto;
}

.link {
  position: relative;
}

.link::after {
  position: absolute;
  display: block;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  -webkit-transition: .3s width;
  transition: .3s width;
}

.link:hover::after {
  width: 0;
}

.link_reverse::after {
  width: 0;
}

.link_reverse:hover::after {
  width: 100%;
}

.link_right::after {
  left: auto;
  right: 0;
}

.empty {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  height: 0 !important;
  border: none !important;
  min-height: 0 !important;
  pointer-events: none;
}

.empty::after {
  display: none !important;
}

.empty::before {
  display: none !important;
}

textarea, input {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
}

.btn {
  font-weight: 500;
  text-transform: uppercase;
  color: #0066FF;
  padding: 20px 40px;
  border: 2px solid #0066FF;
}

.btn_filled {
  color: #fff;
  border: none;
  padding: 22px 70px;
  background-color: #0066FF;
}

.section-title {
  font-weight: 500;
  font-size: 70px;
  color: #fff;
  line-height: 115%;
}

.section-title_black {
  color: #000;
}

.section-subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 130%;
}

.section-subtitle_black {
  color: #000;
}

.header {
  padding: 30px 0;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo__img {
  margin-right: 45px;
}

.header-logo__text {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  max-width: 190px;
}

.header-btn:first-child {
  margin-right: 90px;
}

.results {
  background-color: #000;
  padding: 200px 0;
  color: #fff;
}

.results-title {
  margin-bottom: 140px;
}

.results-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% + 90px);
  margin-left: -45px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.results-item {
  margin: 0 45px 90px 45px;
  -ms-flex-preferred-size: 430px;
      flex-basis: 430px;
  position: relative;
}

.results-item::after {
  position: absolute;
  content: '';
  display: block;
  right: -87.5px;
  top: 0;
  width: 1px;
  height: 114px;
  background-color: #fff;
}

.results-item:last-child::after {
  display: none;
}

.results-item__title {
  font-size: 48px;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 30px;
}

.results-item__title span {
  color: #0066FF;
}

.results-item__text {
  font-weight: 500;
  text-transform: uppercase;
}

.results-warranty__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 125%;
  margin-bottom: 40px;
}

.results-warranty__title span {
  display: block;
  color: #FFF500;
}

.results-warranty__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.results-warranty__text {
  font-weight: 500;
  text-transform: uppercase;
}

.results-warranty__img {
  margin-right: 35px;
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.advantages {
  padding-top: 170px;
  padding-bottom: 30px;
}

.advantages-title {
  max-width: 1350px;
  margin-bottom: 45px;
}

.advantages-subtitle {
  max-width: 1200px;
  margin-bottom: 130px;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(100% + 200px);
  margin-left: -100px;
}

.advantages-item {
  margin: 0 100px 140px 100px;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}

.advantages-item__number, .advantages-item__title, .advantages-item__text {
  position: relative;
  z-index: 1;
  -webkit-transition: .3s color;
  transition: .3s color;
}

.advantages-item__number {
  color: #0066FF;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}

.advantages-item__title {
  font-size: 40px;
  line-height: 125%;
  font-weight: 500;
  margin-bottom: 30px;
}

.advantages-item__text {
  line-height: 150%;
}

.advantages-item__dec {
  position: absolute;
  width: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 100%;
  z-index: 0;
  -webkit-transition: .3s width;
  transition: .3s width;
}

.advantages-item__dec::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 102, 255, 0.8);
  border-radius: 100%;
}

.advantages-item__dec-inner {
  display: block;
  width: 100%;
  opacity: 0;
  visibility: hidden;
}

.advantages-item:hover .advantages-item__dec {
  width: 140%;
}

.advantages-item:hover .advantages-item__number, .advantages-item:hover .advantages-item__title, .advantages-item:hover .advantages-item__text {
  color: #fff;
}

.alertify-notifier .ajs-message.ajs-warning {
  background: white;
  -webkit-box-shadow: 0 0 3px #333333;
  box-shadow: 0 0 3px #333333;
}

.alertify-notifier .ajs-message.ajs-success {
  color: #fff;
  background: rgba(40, 136, 62, 0.9);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.alertify-notifier {
  z-index: 99998;
}
/*# sourceMappingURL=style.css.map */