.begin
    background-color: #000
    padding: 200px 0
    color: #fff
    &-main
        display: flex
        justify-content: space-between
        align-items: flex-start
    &-text
        margin-top: 40px
        flex-basis: 45%
    &-title
        margin-bottom: 100px
    &-number
        font-weight: 500
        font-size: 100px
        color: $yellow
        line-height: 70%
        margin-bottom: 25px
    &-subtitle
        font-size: 40px
        font-weight: 500
        max-width: 600px
        margin-bottom: 90px
    &-list
        margin-bottom: 75px
        &__title
            font-size: 24px
            font-weight: 500
            margin-bottom: 10px
    &-img
        position: relative
        display: inline-block
        &__img
            position: relative
            z-index: 1
        &__circle
            position: absolute
            width: 630px
            border-radius: 100%
            border: 1px solid transparentize(#fff, .6)
            right: -300px
            bottom: -200px
            &-inner
                display: block
                width: 100%
                opacity: 0
                visibility: hidden
        &__text
            position: absolute
            font-size: 40px
            font-weight: 500
            line-height: 120%
            max-width: 350px
            right: -270px
            bottom: -85px
            z-index: 2
        &__wrapper
            flex-basis: 50%
