.ready
    background-color: #000
    padding-top: 150px
    padding-bottom: 130px
    color: #fff
    position: relative
    &-title
        max-width: 1200px
        margin-bottom: 40px
    &-subtitle
        margin-bottom: 180px
    &-main
        display: flex
        align-items: flex-start
        justify-content: space-between
    &-list
        display: flex
        justify-content: space-between
        align-items: flex-start
        width: calc(100% + 120px)
        margin-left: -60px
        animation-name: titles
        animation-duration: 40s
        animation-iteration-count: infinite
        animation-timing-function: linear
        &__wrapper
            flex-basis: 58.33%
            z-index: 2
            position: relative
            max-height: 800px
            overflow: hidden
        &__item
            margin: 0 60px
            &:last-child
                margin-top: 140px
        &_mobile
            display: none
    &-item
        margin-bottom: 120px
        &__title
            font-size: 40px
            font-weight: 500
            margin-bottom: 30px
            span
                font-size: 20px
                color: $yellow
        &__text
            line-height: 150%
    &-right
        flex-basis: 30%
        position: relative
        z-index: 1
        &__caption
            margin-bottom: 30px
            &_big
                font-size: 30px
        &__title
            color: $yellow
            margin-bottom: 40px
        &__text
            margin-bottom: 70px
        &__img
            margin-bottom: 50px
        &__profit
            font-size: 40px
            font-weight: 500
            line-height: 125%
    &-dec
        position: absolute
        left: -1900px
        left: 0
        transform: translateX(-100%)
        top: -90px
        z-index: 0
        overflow: hidden
        #canvas2
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
        img
            opacity: 0
    &-dec2
        z-index: 0
        right: 0
        bottom: 0
        position: absolute

@keyframes titles
    0%
        transform: translateY(0%)
    100%
        transform: translateY(-100%)

@media (max-width: 1670px)
    .ready
        padding-top: 130px
        padding-bottom: 100px
        &-subtitle
            margin-bottom: 140px
        &-list
            &__wrapper
                flex-basis: 65%

@media (max-width: 1400px)
    .ready
        padding-top: 100px
        padding-bottom: 80px
        &-subtitle
            margin-bottom: 100px
        &-list
            width: calc(100% + 70px)
            margin-left: -35px
            &__item
                margin: 0 35px
                &:last-child
                    margin-top: 90px
        &-item
            margin-bottom: 90px

@media (max-width: 1200px)
    .ready
        padding: 70px 0
        &-main
            flex-direction: column-reverse
        &-right
            position: static
            margin-bottom: 50px
            &__img
                display: none
            &__caption
                margin-bottom: 15px
                &_big
                    font-size: 24px
            &__title
                margin-bottom: 20px
            &__text
                margin-bottom: 30px
            &__profit
                font-size: 28px
        &-list
            display: none
            &_mobile
                display: flex
                width: calc(100% + 30px)
                margin-left: -15px
                flex-wrap: wrap
            &__wrapper
                flex-basis: auto
                max-height: 650px
        &-item
            flex-basis: 300px
            flex-grow: 1
            margin: 0 15px 30px 15px
            &__title
                font-size: 32px
                margin-bottom: 20px
        &-dec
            display: none
        &-dec2
            display: none
        &-title
            margin-bottom: 30px
        &-subtitle
            margin-bottom: 50px

@media (max-height: 830px) and (min-height: 700px)
    .ready
        &-right
            &__caption
                margin-bottom: 20px
                &_big
                    font-size: 26px
            &__title
                margin-bottom: 30px
            &__text
                margin-bottom: 40px
            &__img
                margin-bottom: 30px
            &__profit
                font-size: 32px

@media (max-width: 800px)
    .ready
        padding: 50px 0
        &-subtitle
            margin-bottom: 30px
        &-item
            &__title
                font-size: 24px
                margin-bottom: 15px
        &-right
            margin-bottom: 30px
            &__caption
                margin-bottom: 15px
                &_big
                    font-size: 20px
            &__title
                margin-bottom: 15px
            &__text
                margin-bottom: 20px
            &__profit
                font-size: 24px
        &-list
            &__wrapper
                max-height: 500px